# Redirect www to non-www
https://www.signaturedownloader.netlify.app/* https://signaturedownloader.netlify.app/:splat 301!

# Force HTTPS
http://signaturedownloader.netlify.app/* https://signaturedownloader.netlify.app/:splat 301!
